/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

#title {
    font-size: 42px;
    font-family: 'Hachi Maru Pop', cursive;
    align-self: center;
    padding: 25px;
}

#main {
    font-family: 'Bondai Moda', serif;
    flex-direction: column;
    display: flex;
    width: 100%;
}
#img-div {
    align-self: center;
    display: inline;
}
#img-caption {
    padding: 2px;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#tribute-info {
    align-self: center;
}